# Framework y Servidor
fastapi
uvicorn[standard]

# Gestión de Configuración
pydantic-settings

# Base de Datos (ORM y driver de SQLite)
sqlalchemy[asyncio]
aiosqlite

# Herramientas de Calidad de Código (Solo Formato)
black
isort
mypy

# Testing
pytest
pytest-cov
pytest-bdd
httpx